<div style="text-align: center; font-size: medium; padding-top: 15px;">
  Usuário :  {{usuario}}
</div>

<mat-card>
  <mat-toolbar> Lista de unidades </mat-toolbar>
  <div class="column-flex mat-elevation-z8">
  <app-unidade-list *ngIf="unidades as unidades; else loading"
  [unidades]="unidades"
  (add)="onAdd()"
  (edit)="onEdit($event)"
  (list)="onList($event)"></app-unidade-list>
  <ng-template #loading>
  <mat-spinner></mat-spinner>
  </ng-template>
  </div>
</mat-card>
<mat-card-actions>
  <table align="center" style="border-top: blue; border-top-right-radius: 10px;">
    <tr>
      <td>
        <button mat-raised-button color="primary" (click)="onListPaginado()">Próxima Página</button>
      </td>

      <td>
        <button mat-raised-button color="primary" (click)="limpaFiltro()">Limpa filtro</button>
      </td>
    </tr>
  </table>

</mat-card-actions>
